---
import Html from "../layouts/Html.astro";

import Header from "../components/Header.tsx";

const href = "/404";
---

<Html
	title="Diese Seite existiert nicht"
	href={href}
>
    <Header
        href={href}
        client:load
    />
    <div class="bg-black flex flex-grow w-full items-center justify-center">
        <div class="flex flex-col items-center justify-center gap-4 p-8 text-center">
            <img src="/grab.svg" />
            <div class="text-white font-black text-3xl font-headline">404 - Nicht Gefunden</div>
        </div>
    </div>
</Html>
