---
import Html from "../layouts/Html.astro";

import Header from "../components/Header.tsx";
import TextContent from "../components/TextContent.astro";
import HiddenField from "../components/HiddenField.tsx";

const href = "/datenschutz";
---

<Html
  title="Datenschutz | one südwest"
  description="Rechtliche Informationen bzgl. Datenverwendung"
  pageUrl="https://www.onesw.de/datenschutz"
  ogTitle="Datenschutz | one südwest"
  ogDescription="Wie wir mit Ihren Daten umgehen und Ihre Rechte"
  updatedTime="2024-10-13T19:52:22.410Z"
  href={href}
>
  <Header href={href} client:load />
  <TextContent singleContent>
    <h1 class="font-headline font-black text-3xl mb-8">Datenschutzerklärung</h1>
    <section class="mb-8">
      <h2 class="font-headline font-black text-2xl mb-6">
        1. Datenschutz auf einen Blick
      </h2>

      <h3 class="font-headline font-black text-xl mb-4">Allgemeiner Hinweis</h3>
      <p class="mb-4">
        <span class="text-red-600">
          Für alle BFP-Mitgliedsgemeinden, Werke und Einrichtungen im Bund gilt
          die „BFP-Datenschutzordnung“. Informationen dazu finden sich unter
          datenschutz.bfp.de
        </span>
      </p>

      <h3 class="font-headline font-black text-xl mb-4">
        Datenerfassung auf dieser Webseite
      </h3>

      <h4 class="font-headline font-black text-lg mb-2">
        Wer ist verantwortlich für die Datenerfassung auf dieser Website?
      </h4>
      <p class="mb-4">
        Die Datenverarbeitung auf dieser Website erfolgt durch den
        Websitebetreiber. Dessen Kontaktdaten können Sie dem Abschnitt „Hinweis
        zur Verantwortlichen Stelle“ in dieser Datenschutzerklärung entnehmen.
      </p>

      <h4 class="font-headline font-black text-lg mb-2">
        Wie erfassen wir Ihre Daten?
      </h4>
      <p class="mb-4">
        Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese
        mitteilen. Hierbei kann es sich z. B. um Daten handeln, die Sie in ein
        Kontaktformular eingeben.
      </p>

      <p class="mb-4">
        Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch
        der Website durch unsere IT Systeme erfasst. Das sind vor allem
        technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des
        Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald
        Sie diese Website betreten.
      </p>

      <h4 class="font-headline font-black text-lg mb-2">
        Wofür nutzen wir Ihre Daten?
      </h4>
      <p class="mb-4">
        Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der
        Website zu gewährleisten. Andere Daten können zur Analyse Ihres
        Nutzerverhaltens verwendet werden.
      </p>

      <h4 class="font-headline font-black text-lg mb-2">
        Welche Rechte haben Sie bezüglich Ihrer Daten?
      </h4>
      <p class="mb-6">
        Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft,
        Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu
        erhalten. Sie haben außerdem ein Recht, die Berichtigung oder Löschung
        dieser Daten zu verlangen. Wenn Sie eine Einwilligung zur
        Datenverarbeitung erteilt haben, können Sie diese Einwilligung jederzeit
        für die Zukunft widerrufen. Außerdem haben Sie das Recht, unter
        bestimmten Umständen die Einschränkung der Verarbeitung Ihrer
        personenbezogenen Daten zu verlangen. Des Weiteren steht Ihnen ein
        Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
      </p>
      <p class="mb-4">
        Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich
        jederzeit an uns wenden.
      </p>
      <p class="mb-4">
        Des Weiteren steht Ihnen ein Beschwerderecht bei der für uns zuständigen
        Aufsichtsbehörde des BFP zu – <HiddenField
          prefixValue="datenschutz@"
          suffixValue="bfp.de"
          spacingRight
          client:load
        /> bzw. <a
          href="datenschutz.bfp.de"
          target="_blank"
          title="Datenschutz Informationen vom Bund freikirchlicher Pfingstgemeinden"
          >datenschutz.bfp.de</a
        >
      </p>
    </section>

    <section class="mb-8">
      <h2 class="font-headline font-black text-2xl mb-6">2. Hosting</h2>
      <h3 class="font-headline font-black text-xl mb-4">Externes Hosting</h3>

      <p class="mb-4">
        Diese Website wird bei einem externen Dienstleister gehostet (Hoster).
        Die personenbezogenen Daten, die auf dieser Website erfasst werden,
        werden auf den Servern des Hosters gespeichert. Hierbei kann es sich v.
        a. um IP-Adressen, Kontaktanfragen, Meta- und Kommunikationsdaten,
        Vertragsdaten, Kontaktdaten, Namen, Websitezugriffe und sonstige Daten,
        die über eine Website generiert werden, handeln.
      </p>

      <p class="mb-4">
        Der Einsatz des Hosters erfolgt zum Zwecke der Vertragserfüllung
        gegenüber unseren potenziellen und bestehenden Kunden (§ 5, Abs. 1, lit.
        e BFP-DSO) und im Interesse einer sicheren, schnellen und effizienten
        Bereitstellung unseres Online-Angebots durch einen professionellen
        Anbieter (§ 5, Abs. 1, lit. h BFP-DSO).
      </p>

      <p class="mb-4">
        Unser Hoster wird Ihre Daten nur insoweit verarbeiten, wie dies zur
        Erfüllung seiner Leistungspflichten erforderlich ist und unsere
        Weisungen in Bezug auf diese Daten befolgen.
      </p>

      <p class="mb-4">Wir setzen folgenden Hoster ein:</p>

      <p class="mb-4">
        GitHub Inc.<br />
        88 Colin P Kelly Jr St<br />
        San Francisco, CA 94107<br />
        United States
      </p>

      <p class="mb-4">
        GitHub, Inc. eine deutsche Niederlassung Namens GitHub Deutschland GmbH
      </p>

      <h4 class="font-headline font-black text-lg mb-2">
        Abschluss eines Vertrages über Auftragsverarbeitung
      </h4>

      <p class="mb-4">
        Um die datenschutzkonforme Verarbeitung zu gewährleisten, haben wir
        einen Vertrag über Auftragsverarbeitung mit unserem Hoster geschlossen.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="font-headline font-black text-2xl mb-6">
        3. Allgemeine Hinweise und Pflichtinformationen
      </h2>

      <h3 class="font-headline font-black text-xl mb-4">Datenschutz</h3>
      <p class="mb-4">
        Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten
        sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und
        entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
        Datenschutzerklärung.
      </p>
      <p class="mb-4">
        Wenn Sie diese Website benutzen, werden verschiedene personenbezogene
        Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie
        persönlich identifiziert werden können. Die vorliegende
        Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir
        sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht.
      </p>
      <p class="mb-4">
        Wir weisen darauf hin, dass die Datenübertragung im Internet (z. B. bei
        der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein
        lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
        möglich.
      </p>

      <h3 class="font-headline font-black text-xl mb-4">
        Hinweis zur verantwortlichen Stelle
      </h3>
      <h4 class="font-headline font-black text-lg mb-2">
        Rechtsbezeichnung des Landesjugendwerks
      </h4>
      <p class="mb-4">
        Bund Freikirchlicher Pfingstgemeinden, K.d.ö.R; ( BFP)<br />
        Landesjugendwerk des BFP, Region Rheinland-Pfalz/Saarland<br />
        Anerkannter Träger der freien Jugendhilfe
      </p>

      <h4 class="font-headline font-black text-lg mb-2">Adresse</h4>
      <p class="mb-4">
        Bund Freikirchlicher Pfingstgemeinden KdöR<br />
        Industriestraße 6-8<br />
        64390 Erzhausen<br />
        Deutschland
      </p>

      <h4 class="font-headline font-black text-lg mb-2">
        Rechtlicher Vertreter des Landesjugendwerks des BFP – Region
        Rheinland-Pfalz und Saarland
      </h4>
      <p class="mb-4">
        David Sindhu<br />
        Telefon: <HiddenField
          prefixValue="06763-"
          suffixValue="309853"
          client:load
        /><br />
        E-Mail: <HiddenField
          prefixValue="david.sindhu@"
          suffixValue="ljw-rps.de"
          client:load
        />
      </p>

      <h4 class="font-headline font-black text-lg mb-2">
        Rechtlicher Vertreter von Youth Alive Rheinland-Pfalz/Saarland
      </h4>
      <p class="mb-4">
        Jan Nikel<br />
        Telefon: <HiddenField
          prefixValue="+49 176 "
          suffixValue="70596308"
          client:load
        /><br />
        E-Mail: <HiddenField
          prefixValue="jan@"
          suffixValue="onesw.de"
          client:load
        />
      </p>

      <h4 class="font-headline font-black text-lg mb-2">
        Redaktionell Verantwortlicher
      </h4>
      <p class="mb-4">
        Fabian Letsch<br />
        Trierer Straße 154<br />
        56072 Koblenz<br />
        <br />
        Telefon: <HiddenField
          prefixValue="+49 163 "
          suffixValue="1409 701"
          client:load
        /><br />
        E-Mail: <HiddenField
          prefixValue="fabian@"
          suffixValue="onesw.de"
          client:load
        />
      </p>

      <p class="mb-4">
        Verantwortliche Stelle ist die natürliche oder juristische Person, die
        allein oder gemeinsam mit anderen über die Zwecke und Mittel der
        Verarbeitung von personenbezogenen Daten (z. B. Namen, E-Mail-Adressen
        o. Ä.) entscheidet.
      </p>

      <h3 class="font-headline font-black text-xl mb-4">Speicherdauer</h3>
      <p class="mb-4">
        Soweit innerhalb dieser Datenschutzerklärung keine speziellere
        Speicherdauer genannt wurde, verbleiben Ihre personenbezogenen Daten bei
        uns, bis der Zweck für die Datenverarbeitung entfällt. Wenn Sie ein
        berechtigtes Löschersuchen geltend machen oder eine Einwilligung zur
        Datenverarbeitung widerrufen, werden Ihre Daten gelöscht, sofern wir
        keine anderen rechtlich zulässigen Gründe für die Speicherung Ihrer
        personenbezogenen Daten haben (z.B. steuer- oder handelsrechtliche
        Aufbewahrungsfristen); im letztgenannten Fall erfolgt die Löschung nach
        Fortfall dieser Gründe.
      </p>

      <h3 class="font-headline font-black text-xl mb-4">
        Hinweis zur Datenweitergabe in die USA
      </h3>
      <p class="mb-4">
        Auf unserer Website sind unter anderem Tools von Unternehmen mit Sitz in
        den USA eingebunden. Wenn diese Tools aktiv sind, können Ihre
        personenbezogenen Daten an die US-Server der jeweiligen Unternehmen
        weitergegeben werden. Wir weisen darauf hin, dass die USA kein sicherer
        Drittstaat im Sinne des EU Datenschutzrechts sind. US-Unternehmen sind
        dazu verpflichtet, personenbezogene Daten an Sicherheitsbehörden
        herauszugeben, ohne dass Sie als Betroffener hiergegen gerichtlich
        vorgehen könnten. Es kann daher nicht ausgeschlossen werden, dass
        US-Behörden (z.B. Geheimdienste) Ihre auf US-Servern befindlichen Daten
        zu Überwachungszwecken verarbeiten, auswerten und dauerhaft speichern.
        Wir haben auf diese Verarbeitungstätigkeiten keinen Einfluss.
      </p>

      <h3 class="font-headline font-black text-xl mb-4">
        Widerruf Ihrer Einwilligung zur Datenverarbeitung
      </h3>
      <p class="mb-6">
        Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen
        Einwilligung möglich. Sie können eine bereits erteilte Einwilligung
        jederzeit widerrufen. Die Rechtmäßigkeit der bis zum Widerruf erfolgten
        Datenverarbeitung bleibt vom Widerruf unberührt.
      </p>

      <h3 class="font-headline font-black text-xl mb-4">
        Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie
        gegen Direktwerbung (Art. 13 DSO)
      </h3>
      <p class="mb-4">
        WENN DIE DATENVERARBEITUNG AUF GRUNDLAGE VON ART. 5 ABS. 1 LIT. F
        DSO ERFOLGT, HABEN SIE JEDERZEIT DAS RECHT, AUS GRÜNDEN, DIE SICH AUS
        IHRER BESONDEREN SITUATION ERGEBEN, GEGEN DIE VERARBEITUNG IHRER
        PERSONENBEZOGENEN DATEN WIDERSPRUCH EINZULEGEN; DIES GILT AUCH FÜR EIN
        AUF DIESE BESTIMMUNGEN GESTÜTZTES PROFILING. DIE JEWEILIGE
        RECHTSGRUNDLAGE, AUF DENEN EINE VERARBEITUNG BERUHT, ENTNEHMEN SIE
        DIESER DATENSCHUTZERKLÄRUNG. WENN SIE WIDERSPRUCH EINLEGEN, WERDEN WIR
        IHRE BETROFFENEN PERSONENBEZOGENEN DATEN NICHT MEHR VERARBEITEN, ES SEI
        DENN, WIR KÖNNEN ZWINGENDE SCHUTZWÜRDIGE GRÜNDE FÜR DIE VERARBEITUNG
        NACHWEISEN, DIE IHRE INTERESSEN, RECHTE UND FREIHEITEN ÜBERWIEGEN ODER
        DIE VERARBEITUNG DIENT DER GELTENDMACHUNG, AUSÜBUNG ODER VERTEIDIGUNG
        VON RECHTSANSPRÜCHEN (WIDERSPRUCH NACH ART. 13 ABS. 1 DSO). WERDEN
        IHRE PERSONENBEZOGENEN DATEN VERARBEITET, UM DIREKTWERBUNG ZU BETREIBEN,
        SO HABEN SIE DAS RECHT, JEDERZEIT WIDERSPRUCH GEGEN DIE VERARBEITUNG SIE
        BETREFFENDER PERSONENBEZOGENEN DATEN ZUM ZWECKE DERARTIGER WERBUNG
        EINZULEGEN; DIES GILT AUCH FÜR DAS PROFILING, SOWEIT ES MIT SOLCHER
        DIREKTWERBUNG IN VERBINDUNG STEHT. WENN SIE WIDERSPRECHEN, WERDEN IHRE
        PERSONENBEZOGENEN DATEN ANSCHLIESSEND NICHT MEHR ZUM ZWECKE DER
        DIREKTWERBUNG VERWENDET (WIDERSPRUCH NACH § 13 BFP-DSO).
      </p>

      <h3 class="font-headline font-black text-xl mb-4">
        Beschwerderecht bei der zuständigen Aufsichtsbehörde
      </h3>
      <p class="mb-6">
        Im Falle von Verstößen gegen die DSO steht den Betroffenen ein
        Beschwerderecht bei einer Aufsichtsbehörde, insbesondere in dem
        Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres Arbeitsplatzes oder
        des Orts des mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht
        unbeschadet anderweitiger verwaltungsrechtlicher oder gerichtlicher
        Rechtsbehelfe.
      </p>

      <h3 class="font-headline font-black text-xl mb-4">
        Recht auf Datenübertragbarkeit
      </h3>
      <p class="mb-4">
        Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung
        oder in Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder
        an einen Dritten in einem gängigen, maschinenlesbaren Format aushändigen
        zu lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen
        Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch
        machbar ist.
      </p>

      <h3 class="font-headline font-black text-xl mb-4">
        SSL- bzw. TLS-Verschlüsselung
      </h3>
      <p class="mb-4">
        Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung
        vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die
        Sie an uns als Seitenbetreiber senden, eine SSL- bzw.
        TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran,
        dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt
        und an dem Schloss-Symbol in Ihrer Browserzeile.
      </p>
      <p class="mb-4">
        Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten,
        die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
      </p>

      <h3 class="font-headline font-black text-xl mb-4">
        Recht auf Einschränkung der Verarbeitung
      </h3>
      <p class="mb-4">
        Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer
        personenbezogenen Daten zu verlangen. Hierzu können Sie sich jederzeit
        an uns wenden. Das Recht auf Einschränkung der Verarbeitung besteht in
        folgenden Fällen:
      </p>
      <ul class="mb-4 list-disc list-inside">
        <li class="mb-2">
          Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen
          Daten bestreiten, benötigen wir in der Regel Zeit, um dies zu
          überprüfen. Für die Dauer der Prüfung haben Sie das Recht, die
          Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu
          verlangen.
        </li>
        <li class="mb-2">
          Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig
          geschah/geschieht, können Sie statt der Löschung die Einschränkung der
          Datenverarbeitung verlangen.
        </li>
        <li class="mb-2">
          Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie
          jedoch zur Ausübung, Verteidigung oder Geltendmachung von
          Rechtsansprüchen benötigen, haben Sie das Recht, statt der Löschung
          die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu
          verlangen.
        </li>
        <li class="mb-2">
          Wenn Sie einen Widerspruch nach Art. 13 Abs. 1 DSO eingelegt haben,
          muss eine Abwägung zwischen Ihren und unseren Interessen vorgenommen
          werden. Solange noch nicht feststeht, wessen Interessen überwiegen,
          haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer
          personenbezogenen Daten zu verlangen.
        </li>
      </ul>
      <p class="mb-4">
        Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt
        haben, dürfen diese Daten – von ihrer Speicherung abgesehen – nur mit
        Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung
        von Rechtsansprüchen oder zum Schutz der Rechte einer anderen
        natürlichen oder juristischen Person oder aus Gründen eines wichtigen
        öffentlichen Interesses der Europäischen Union oder eines Mitgliedstaats
        verarbeitet werden.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="font-headline font-black text-2xl mb-6">
        4. Datenerfassung auf dieser Website
      </h2>
      <h3 class="font-headline font-black text-xl mb-4">Server-Log-Dateien</h3>
      <p class="mb-4">
        Der Provider der Seiten erhebt und speichert automatisch Informationen
        in so genannten Server-Log Dateien, die Ihr Browser automatisch an uns
        übermittelt.
      </p>

      <p class="mb-4">Dies sind:</p>

      <ul class="list-disc list-inside mb-4">
        <li class="mb-2">Browsertyp und Browserversion</li>
        <li class="mb-2">Verwendetes Betriebssystem</li>
        <li class="mb-2">Referrer URL</li>
        <li class="mb-2">Hostname des zugreifenden Rechners</li>
        <li class="mb-2">Uhrzeit der Serveranfrage</li>
        <li class="mb-2">IP-Adresse</li>
      </ul>

      <p class="mb-4">
        Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht
        vorgenommen. Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 5
        Abs. 1 lit. h DSO. Der Websitebetreiber hat ein berechtigtes Interesse
        an der technisch fehlerfreien Darstellung und der Optimierung seiner
        Website – hierzu müssen die Server-Log-Files erfasst werden.
      </p>

      <h3 class="font-headline font-black text-xl mb-4">
        Anfrage per E-Mail und Telefon
      </h3>

      <p class="mb-4">
        Wenn Sie uns per E-Mail, Telefon oder Telefax kontaktieren, wird Ihre
        Anfrage inklusive aller daraus hervorgehenden personenbezogenen Daten
        (Name, Anfrage) zum Zwecke der Bearbeitung Ihres Anliegens bei uns
        gespeichert und verarbeitet. Diese Daten geben wir nicht ohne Ihre
        Einwilligung weiter.
      </p>

      <p class="mb-4">
        Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 5 Abs. 1
        lit. e DSO, sofern Ihre Anfrage mit der Erfüllung eines Vertrags
        zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen
        erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf
        unserem berechtigten Interesse an der effektiven Bearbeitung der an uns
        gerichteten Anfragen (Art. 6 Abs. 1 lit. h DSO) oder auf Ihrer
        Einwilligung (Art. 6 Abs. 1 lit. b DSO) sofern diese abgefragt wurde.
      </p>

      <p class="mb-4">
        Die von Ihnen an uns per Kontaktanfragen übersandten Daten verbleiben
        bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur
        Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt
        (z. B. nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende
        gesetzliche Bestimmungen – insbesondere gesetzliche Aufbewahrungsfristen
        – bleiben unberührt.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="font-headline font-black text-2xl mb-6">
        5. Nutzung von Drittanbieterdiensten
      </h2>
      <h3 class="font-headline font-black text-xl mb-4">
        Pretix Hosting und E-Mail-Versand
      </h3>
      <p class="mb-4">
        Unsere Ticketing-Plattform Pretix wird auf einem virtuellen privaten
        Server (VPS) von Hetzner gehostet. Hetzner ist ein deutscher Anbieter
        von Serverlösungen mit Sitz in Deutschland, der die Einhaltung der
        Datenschutzanforderungen der DSO sicherstellt.
      </p>

      <p class="mb-4">
        Der Versand von E-Mails im Zusammenhang mit unserer Plattform erfolgt
        über den E-Mail-Dienst von IONOS. Dieser Dienst ermöglicht uns den
        sicheren und zuverlässigen Versand von Transaktions- und
        Benachrichtigungs-E-Mails an unsere Nutzer.
      </p>

      <p class="mb-4">
        Die Verarbeitung Ihrer Daten bei der Nutzung dieser Dienste erfolgt auf
        Grundlage unseres berechtigten Interesses an der technisch fehlerfreien
        Ausführung und Bereitstellung unserer Dienstleistungen (Art. 5 Abs. 1
        lit. h DSO) sowie, soweit erforderlich, zur Erfüllung vertraglicher
        Verpflichtungen (Art. 5 Abs. 1 lit. e DSO).
      </p>

      <p class="mb-4">
        Im Rahmen der Anmeldung über pretix erfassen wir personenbezogene Daten,
        die für die Durchführung und Abwicklung des jeweiligen Events notwendig
        sind. Hierbei handelt es sich ausschließlich um Angaben, die zur
        Sicherstellung eines reibungslosen Ablaufs und zur Erfüllung unserer
        vertraglichen Pflichten erforderlich sind. Wir versichern den
        sorgfältigen und verantwortungsvollen Umgang mit Ihren persönlichen
        Daten gemäß den geltenden Datenschutzbestimmungen.
      </p>

      <p class="mb-4">
        Es wird keine Zusammenführung dieser Daten mit anderen Datenquellen
        vorgenommen. Ihre persönlichen Daten werden nur solange gespeichert, wie
        es für die Erfüllung der genannten Zwecke erforderlich ist oder wie es
        die gesetzlichen Aufbewahrungsfristen vorsehen.
      </p>
    </section>
  </TextContent>
</Html>
