---
import Html from "../layouts/Html.astro";

import Header from "../components/Header.tsx";
import HeaderImage from "../components/HeaderImage.astro";
import TextContent from "../components/TextContent.astro";
import HiddenField from "../components/HiddenField.tsx";

const href = "/lead";
---

<Html
  title="ONESW LEAD - Leiterschaftsklausur 2025 | one südwest"
  description="Informationen über die ONE LEAD 2025 von 10.01. - 11.01.2025 in der DJH Bad Kreuznach"
  pageUrl="https://www.onesw.de/lead"
  ogTitle="ONESW LEAD | Leiterschaftsklausur 2025"
  ogDescription="ONESW LEAD von 10.01. - 11.01.2025 in der DJH Bad Kreuznach"
  ogImage="/og-image-lead.jpg"
  imageAlt="ONESW LEAD 10.01.2025 - 11.01.2025 in der DJH Bad Kreuznach von one südwest"
  twitterImage="/twitter-image-lead.webp"
  updatedTime="2024-10-13T19:52:22.410Z"
  href={href}
>
  <Header href={href} client:load />
  <HeaderImage
    src="/images/lead_header-image/lead.png"
    centerImage={true}
    alt="ONESW LEAD 10.01.2025 - 11.01.2025 in der DJH Bad Kreuznach von one südwest"
    position="50% 50%"
  />
  <TextContent singleContent>
    <h1 class="font-headline font-black text-3xl mb-8 break-words">
      ONESW LEAD - Leiterschaftsklausur
    </h1>
    <h2 class="font-headline font-black text-2xl mb-6">
      Von 10.01. - 11.01.2025 in der DJH Bad Kreuznach
    </h2>
    <section class="mb-8">
      <p class="mb-4">
        Wir laden alle Jugendleitungsteams der BFP-Gemeinden in Rheinland-Pfalz
        und Saarland herzlich zur ONESW LEAD Leiterschaftsklausur 2025 ein.
      </p>
      <p class="mb-4">
        Lasst euch auf der LEAD bei viel Gemeinschaft, Austausch und bei
        mehreren Gottesdiensten ermutigen und erbauen.
      </p>
      <p class="mb-4">
        Dieses Jahr finden wieder Wahlen statt. Die komplette Jugendleitung wird
        gewählt.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="font-headline font-black text-2xl mb-6">Agenda</h2>

      <h3 class="font-headline font-black text-xl mb-4">
        Freitag, 10. Januar 2025
      </h3>
      <table class="w-full border-collapse mt-5">
        <thead>
          <tr class="bg-gray-800">
            <th class="text-left p-2 border border-gray-300 w-48">Zeit</th>
            <th class="text-left p-2 border border-gray-300">Programmpunkt</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="p-2 border border-gray-300">18:00 - 19:30 Uhr</td>
            <td class="p-2 border border-gray-300">Abendessen</td>
          </tr>
          <tr class="bg-gray-700">
            <td class="p-2 border border-gray-300">19:30 Uhr</td>
            <td class="p-2 border border-gray-300"
              >Auftakt im Seminarraum – Thema: Vision & Ausrichtung</td
            >
          </tr>
          <tr>
            <td class="p-2 border border-gray-300">&nbsp;</td>
            <td class="p-2 border border-gray-300">Offener Ausklang</td>
          </tr>
        </tbody>
      </table>

      <h3 class="font-headline font-black text-xl mb-4 mt-10">
        Samstag, 11. Januar 2025
      </h3>
      <table class="w-full border-collapse mt-5">
        <thead>
          <tr class="bg-gray-800">
            <th class="text-left p-2 border border-gray-300 w-48">Zeit</th>
            <th class="text-left p-2 border border-gray-300">Programmpunkt</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="p-2 border border-gray-300">07:30 - 09:30 Uhr</td>
            <td class="p-2 border border-gray-300">Frühstück</td>
          </tr>
          <tr class="bg-gray-700">
            <td class="p-2 border border-gray-300">09:30 - 11:00 Uhr</td>
            <td class="p-2 border border-gray-300"
              >Geschäftlicher Teil – TOPs 0-4</td
            >
          </tr>
          <tr>
            <td class="p-2 border border-gray-300">11:00 - 12:00 Uhr</td>
            <td class="p-2 border border-gray-300">Faschiplanung</td>
          </tr>
          <tr class="bg-gray-700">
            <td class="p-2 border border-gray-300">12:00 Uhr</td>
            <td class="p-2 border border-gray-300">Mittagessen</td>
          </tr>
          <tr>
            <td class="p-2 border border-gray-300">13:30 - 14:15 Uhr</td>
            <td class="p-2 border border-gray-300">Session 1</td>
          </tr>
          <tr class="bg-gray-700">
            <td class="p-2 border border-gray-300">14:15 - 14:30 Uhr</td>
            <td class="p-2 border border-gray-300">Pause</td>
          </tr>
          <tr>
            <td class="p-2 border border-gray-300">14:30 - 15:00 Uhr</td>
            <td class="p-2 border border-gray-300">Session 2</td>
          </tr>
          <tr class="bg-gray-700">
            <td class="p-2 border border-gray-300">15:00 Uhr</td>
            <td class="p-2 border border-gray-300">Kaffee & Kuchen</td>
          </tr>
          <tr>
            <td class="p-2 border border-gray-300">15:15 - 16:00 Uhr</td>
            <td class="p-2 border border-gray-300"
              >Regionale Jahresplanung 2025 und Abschluss</td
            >
          </tr>
        </tbody>
      </table>
    </section>

    <section class="mb-8">
      <h2 class="font-headline font-black text-2xl mb-6">Anfahrt</h2>
      <p class="mb-4">
        Nahetal Jugendherberge Bad Kreuznach<br />
        Rheingrafenstraße 53<br />
        55543 Bad Kreuznach
      </p>
      <p class="mb-4">
        <a
          href="https://maps.app.goo.gl/2UWLWAwkPmgK6n6H7"
          title="Google Maps Anfahrt"
          target="_blank">Google Maps</a
        >
      </p>
    </section>

    <section>
      <div class="flex gap-4 mt-5 flex-col sm:flex-row">
        <a href="https://pretix.onesw.de/onesw/lead25" target="_blank" class="py-2 px-4 bg-cyan-300 text-black no-underline transition duration-200 ease-in-out hover:bg-red-500 text-center">Jetzt dein Ticket sichern</a>
      </div>
    </section>
  </TextContent>
</Html>
