---
import Html from "../layouts/Html.astro";

import Navigation from "../components/Navigation.astro";
import TextContent from "../components/TextContent.astro";
import DownloadCTA from "../components/DownloadCTA.astro";

const href = "/warum-juleica";
---

<Html
  title="One Südwest - Wofür braucht man eine Juleica?"
  description="Mit einer Juleica kannst du ausdrücken, dass du Ahnung von Jugendarbeit hast und ausgebildet bist."
  pageUrl="https://www.onesw.de/warum-juleica"
  ogTitle="Juleica-Schulung"
  ogDescription="Eine Juleica beweist, dass du als Jugendleiter ausgebildet bist."
  updatedTime="2022-11-14T19:50:14.853Z"
  href={href}
>
  <Navigation href={href} />
  <TextContent
    backgroundColor="var(--background-color)"
    bottomTransitionColor="var(--dark-background-color)"
  >
    <h1 style="margin-bottom: -32px;">Wofür braucht man eine Juleica?</h1>
    <section>
      <p>
        Kurz gesagt kannst du mit einer Juleica ausdrücken, dass du Ahnung von
        Jugendarbeit hast und darin ausgebildet bist. Die Juleica ist Bundesweit
        einheitlich und anerkannt. Für dich persönlich hat die Juleica außerdem
        den Vorteil, dass du an vielen Orten Vergünstigungen bekommst, einfach
        nur weil du die Juleica besitzt.
      </p>
    </section>

    <section>
      <h2>Ausbildung</h2>
      <p>
        Bei der Juleica-Schulung erhältst du tiefgehende Informationen zur
        Jugendarbeit in etlichen Themen.
      </p>
      <p>
        So erfährst du zum Beispiel welche Aufgaben und Funktionen deine Rolle
        als Jugendleiter hat. Außerdem werden dir Methoden an die Hand gegeben,
        welche du in deiner Jugendarbeit anwenden kannst.
      </p>
      <p>
        Zusätzlich dazu erhältst du auch Antworten in Rechts und
        Organisationsfragen. Kannst du zum Beispiel die Frage beantworten ob du
        Meldungspflichtig bist, wenn du Kindesmissbrauch mitbekommst? Und wo
        muss man das melden? Solche Fragen werden in der Juleica-Schulung
        beantwortet.
      </p>
    </section>

    <section>
      <h2>Anerkennung</h2>
      <p>
        Eine Juleica kann sehr hilfreich sein, wenn eine Person von Außen
        anzweifelt, ob das was wir machen tatsächlich Hand und Fuß hat.
      </p>
      <p>
        Eine Situation die gerne mal vorkommt, ist dass man eine Übernachtung
        oder einen Ausflug mit der Jugendgruppe plant und sich die Eltern von
        den Jugendlichen berechtigter Weise fragen: "Wo schicke ich mein Kind da
        überhaupt hin?". Eine Juleica zu haben kann in solchen Fällen Gold wert
        sein, denn mit ihr kannst du schnell und einfach beweisen, dass du
        wertvolles Fachwissen zur Jugendarbeit hast und der Jugendliche damit
        bei dir in guten Händen ist.
      </p>
    </section>

    <section>
      <h2>Vergünstigungen</h2>
      <p>
        Wer eine Juleica besitzt, ist ehrenamtlich engagiert. Deshalb bieten
        viele Unternehmen Juleica-Besitzern Vergünstigungen an. Ich ziehe bald
        nach Ludwigshafen um und dort kommt man zum Beispiel mit einer Juleica
        vergünstigt in Schwimmbäder rein. Außerdem kann ich bei einer
        Autowerkstatt günstiger mein Auto reparieren lassen.
      </p>
      <p>
        Falls du wissen möchtest, welche Vergünstigungen in deiner Stadt zur
        Verfügung stehen, kannst du einfach mal den Namen deiner Stadt auf
        dieser Seite in der Suche eingeben:
        <br />
        <br />
        <a href="https://www.juleica.de/verguenstigungen/" target="_blank"
          >https://www.juleica.de/verguenstigungen/</a
        >
      </p>
    </section>

    <section>
      <h2>Zuschüsse</h2>
      <p>
        Wenn wir Jugendveranstaltungen planen, können wir als ONE Südwest aber
        auch ihr als eure Jugendgruppe in den jeweiligen Kreisen und Ländern
        Zuschüsse vom Staat bekommen. Bei der Juleica-Schulung erfährst du dazu
        alles was du wissen musst.
      </p>
      <p>
        Noch ist es bei uns in Rheinland-Pfalz und Saarland nicht so, dass eine
        Juleica eine Voraussetzung ist um Zuschüsse für Jugendfreizeiten zu
        erhalten. Allerdings ist das z.B. in Baden-Württemberg schon ganz
        normal, dass alle Leiter einer Veranstaltung eine Juleica besitzen
        müssen. Es wäre gut wenn wir darauf vorbereitet wären, falls es
        irgendwann bei uns auch der Fall ist.
      </p>
      <p>
        Für die Faschingsfreizeit machen die Zuschüsse jedes Jahr mehrere
        Tausend Euro aus und auch lokale Jugendevents bei euch können damit
        gerne auch mal mehrere 100 Euro rein holen. Es wäre in diesem
        Zusammenhang natürlich sehr schade, wenn du keine Zuschüsse bekommen
        würdest, nur weil kein Mitarbeiter eine Juleica hat.
      </p>
    </section>

    <section>
      <h2>Fazit</h2>
      <p>
        Meiner Meinung nach ist eine Juleica als Jugendmitarbeiter und Leiter
        heutzutage unverzichtbar geworden. Ich bin froh meine Juleica zu haben
        und habe das Wissen aus der Schulung schon oft anwenden können. Von
        daher kann ich dir nur empfehlen, dich zur nächsten Juleica-Schulung
        beim Dave anzumelden. Die nächste Schulung findet von 22. - 25. Februar
        2024 in Neustadt statt (Zwei Wochen nach der Faschi). Anmeldung folgt in
        kürze.
      </p>
    </section>

    <hr />

    <section>
      <p>
        Weitere Informationen zur Juleica generell findest du auf der <a
          href="https://www.juleica.de/"
          target="_blank">Webseite der Juleica.</a
        >
      </p>
    </section>
  </TextContent>
</Html>
