---
import Transition from './Transition.astro';
import { cn } from '@/lib/utils';

export interface Props {
    href: string;
    className?: string;
}
const {
    href,
    className,
} = Astro.props;
---
<footer class={cn("w-full flex flex-col items-center", className)}>
    <div class="w-full text-black bg-white px-6 sm:px-16 py-8 flex justify-center">
        <div class="flex flex-col sm:flex-row justify-between items-start w-full max-w-[900px] box-border gap-4">
            <div class="uppercase font-headline text-lg font-black w-full sm:w-auto">© Copyright Youth Alive RPS {new Date().getFullYear()}</div>
            <div class="flex flex-wrap justify-between gap-4 w-full sm:w-auto sm:justify-start uppercase font-headline text-lg font-black">
                <a 
                    href="/impressum" 
                    title="Rechtliche Informationen" 
                    class={`hover:text-orange-500 ${href === '/impressum' ? 'text-orange-500' : ''}`}
                >
                    Impressum
                </a>
                <a 
                    href="/datenschutz" 
                    title="Datenschutz Informationen" 
                    class={`hover:text-orange-500 ${href === '/datenschutz' ? 'text-orange-500' : ''}`}
                >
                    Datenschutz
                </a>
            </div>
        </div>
    </div>
</footer>
