---
import Transition from './Transition.astro';

export interface Props {
    href: string;
}
const {
    href,
} = Astro.props;
---
<div class="footer">
    <Transition
        color="var(--dark-background-color)"
    />
    <div class="footer-content">
        <div class="copyright">© Copyright Youth Alive RPS {new Date().getFullYear()}</div>
        <div class="footer-navigation">
            <a class="navigation-link" href="/impressum" data-active={href === '/impressum'}>Impressum</a>
            <a class="navigation-link" href="/datenschutz" data-active={href === '/datenschutz'}>Datenschutz</a>
        </div>
    </div>
</div>

<style is:inline>
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: var(--footer-height);
    }

    .footer-content {
        height: calc(var(--footer-height) - 80px);
        background-color: var(--dark-background-color);
        width: 100%;
        box-sizing: border-box;
        padding: 0 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-navigation {
        display: flex;
        gap: 40px;
    }

    .copyright {
        color: var(--font-color);
        font-family: "Teko", sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        text-decoration: none;
    }

    @media (max-width: 700px) {
        .footer-content {
            flex-direction: column;
            align-items: flex-start;
            padding: 4px 10px;
        }

        .footer-navigation {
            display: contents;
        }

        .copyright, .navigation-link {
            font-size: 18px;
        }
    }
</style>
