---
import Transition from './Transition.astro';

export interface Props {
	srcset: string;
    alt: string;
    position?: string;
    centerImage?: boolean;
    bottomTransitionColor?: string;
}

const {
    srcset,
    alt,
    position = "50% 50%",
    centerImage = false,
    bottomTransitionColor = "var(--background-color)",
} = Astro.props;
---

<style is:inline>
    .wrapper {
        width: 100%;
        height: calc(100vh - 100px);
        position: relative;
    }

    .header-image {
        object-fit: cover;
        height: 100%;
        width: 100%;
        display: block;
    }

    .center-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100vw - 80px);
        user-select: none;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottom-transition {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>

<div class="wrapper">
    <img
        srcset={srcset}
        alt={alt}
        class="header-image"
        style={`object-position: ${position}`}
    />
    {centerImage && (
        <div class="center-image">
            <slot />
        </div>
    )}
    <div class="bottom-transition">
        <Transition
            color={bottomTransitionColor}
        />
    </div>
</div>
