---
import Transition from './Transition.astro';

export interface Props {
    src?: string;
	srcset?: string;
    alt: string;
    position?: string;
    centerImage?: boolean;
}

const {
    src,
    srcset,
    alt,
    position = "50% 50%",
    centerImage = false,
} = Astro.props;
---

<div class="w-full h-[calc(100vh)] relative">
    <img
        src={src}
        srcset={srcset}
        alt={alt}
        class="object-cover h-full w-full block"
        style={`object-position: ${position}`}
    />
    {centerImage && (
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[calc(100vw-80px)] select-none pointer-events-none flex justify-center items-center">
            <slot />
        </div>
    )}
</div>
