---
export interface Props {
    prefixValue: string;
    suffixValue: string;
}

const {
    prefixValue,
    suffixValue,
} = Astro.props;
---
<span data-hidden-field style="color: var(--light-highlight-color)" data-prefix={prefixValue} data-suffix={suffixValue}>Wird angezeigt in 10 Sekunden</span>
