---
import OneLogoSmall from './svg/OneLogoSmall.astro';

export interface Props {
    href: string;
}
const {
    href
} = Astro.props;
---
<div class="navigation">
    <div class="top-bar">
        <nav class="top-bar-nav">
            <a href="/" title="Startseite">
                <OneLogoSmall />
            </a>
            <div class="desktop-navigation">
                <a class="navigation-link" href="/" data-active={href === '/'}>Startseite</a>
                <a class="navigation-link" href="https://one-movement.de/leadership/" target="_blank" title="Möglichkeiten sich und sein Team zu Equippen">Leadership</a>
                <a class="navigation-link" href="https://www.paypal.com/paypalme/onesw" target="_blank" title="Über Paypal an uns spenden">Spenden</a>
            </div>
            <div class="burger-menu">
                <div class="burger burger-icon show">
                    <svg width="26" height="26" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <rect x="2" y="3" width="22" height="4" rx="2" />
                        <rect x="2" y="11" width="22" height="4" rx="2" />
                        <rect x="2" y="19" width="22" height="4" rx="2" />
                    </svg>
                </div>
                <div class="x burger-icon">
                    <svg width="26" height="26" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="m4 5 18 16M4 21 22 5" stroke-width="4" stroke-linecap="round"/>
                    </svg>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="mobile-navigation">
        <nav>
            <a class="navigation-link" href="/" title="Startseite" data-active={href === '/'}>Startseite</a>
            <a class="navigation-link" href="https://one-movement.de/leadership/" target="_blank" title="Möglichkeiten sich und sein Team zu Equippen">Leadership</a>
            <a class="navigation-link" href="https://www.paypal.com/paypalme/onesw" target="_blank" title="Über Paypal an uns spenden">Spenden</a>
            <a class="navigation-link" href="https://www.instagram.com/onemovementsw/" target="_blank" title="Unsere Instagram Seite">Instagram</a>
            <a class="navigation-link" href="https://www.youtube.com/channel/UCLFN65oYHbCQB-mkya-DTKA" target="_blank" title="Unser YouTube-Kanal">Youtube</a>
        </nav>
    </div>
</div>

<script>
    const burgerMenu = document.querySelector('.burger-menu');

    const burgerIcon = document.querySelector('.burger-menu .burger');
    const xIcon = document.querySelector('.burger-menu .x');

    burgerMenu!.addEventListener('click', () => {
        const mobileNavigationOpenElement = document.querySelector('.mobile-navigation.open');

        if (mobileNavigationOpenElement !== null) {
            mobileNavigationOpenElement.classList.remove('open');
            burgerIcon!.classList.add('show');
            xIcon!.classList.remove('show');
        } else {
            const mobileNavigation = document.querySelector('.mobile-navigation');
            mobileNavigation!.classList.add('open');
            burgerIcon!.classList.remove('show');
            xIcon!.classList.add('show');
        }
    });
</script>

<style is:inline>
    .top-bar {
        height: 64px;
        box-sizing: border-box;
        padding: 10px;
        background-color: var(--dark-background-color);
        width: 100%;
    }

    .top-bar-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0 10px;
    }

    .desktop-navigation {
        display: none;
        gap: 40px;
    }

    .mobile-navigation {
        display: none;
        position: absolute;
        top: 64px;
        width: 100%;
        z-index: 1;
    }

    .mobile-navigation.open {
        display: block;
    }

    .mobile-navigation nav {
        display: flex;
        flex-direction: column;
        background-color: var(--dark-background-color);
    }

    .mobile-navigation a {
        width: 100%;
        height: 52px;
        line-height: 52px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .burger-menu {
        display: block;
        color: var(--font-color);
        height: 26px;
        cursor: pointer;
    }

    .burger-menu:hover svg {
        fill: var(--highlight-color);
        stroke: var(--highlight-color);
    }

    .burger-icon {
        display: none;
    }

    .burger-icon.show {
        display: block;
    }

    @media (min-width: 860px) {
        .top-bar {
            height: 100px;
        }

        .top-bar-nav {
            padding: 0 24px;
        }

        .desktop-navigation {
            display: flex;
        }

        .mobile-navigation {
            display: none !important;
        }

        .burger-menu {
            display: none;
        }
    }
</style>
