---
import Transition from "./Transition.astro";
import { cn } from '@/lib/utils';

export interface Props {
    className?: string;
	bottomTransitionClassName?: string;
    showBottomTransition?: boolean;
    singleContent?: boolean;
}

const {
    className,
    bottomTransitionClassName,
    showBottomTransition,
    singleContent
} = Astro.props;

---

<div
    class={cn(
        'px-6 sm:px-16 py-[80px] bg-black text-white',
        singleContent && "py-[min(15vw,160px)]" ,
        className
    )}
>
    <div class="mx-auto w-full max-w-[900px]">
        <slot />
    </div>
    {showBottomTransition && (
        <Transition
            className={bottomTransitionClassName}
        />
    )}
</div>
