@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/roboto-condensed-normal-400.woff2) format('woff2');
}

@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/teko-normal-600.woff2) format('woff2');
}

:root {
    --background-color: #2a2a2a;
    --highlight-color: #dc6060;
    --font-color: #fff;
    --dark-background-color: #000;
}

body {
    margin: 0;
    background-color: var(--background-color);
}
