---
import Footer from '../components/Footer.astro';
import Head, { type Props as HeadProps } from '../components/Head.astro';

export type Props = HeadProps & { href: string; footerClassName?: string };

const {
    href,
    footerClassName
} = Astro.props;
---
<!DOCTYPE html>
<html lang="de">
    <Head
        {...Astro.props}
    />
    <body class="min-h-screen flex flex-col justify-between overflow-x-hidden">
        <slot />
        <Footer
            href={href}
            className={footerClassName}
        />
        <script async src="/scripts/hiddenFields.js" />
    </body>
</html>
