---
import Footer from '../components/Footer.astro';
import Head, { Props as HeadProps } from '../components/Head.astro';

export type Props = HeadProps;
---
<!DOCTYPE html>
<html lang="de">
    <Head
        {...Astro.props}
    />
    <body>
        <div id="page-wrapper">
            <div id="content-wrapper">
                <slot />
            </div>
            <Footer />
        </div>
    </body>
</html>
